* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.logo {
    max-height: 60px;
    max-width: 60px;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 224px 0px 224px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

li {
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.section1 {
    display: flex;
    background-color: #1f2937;
    padding: 114px 224px 142px 224px;
    justify-content: space-between;
    max-height: 500px;
}

.birds-img {
    max-height: 220px;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 450px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

p {
    color: lightgray;
    font-size: 18px;
}

.signup1 {
    background-color: #3882f6;
    padding: 8px 8px;
    max-width: 140px;
    border-radius: 8px;
    border: 0px;
    margin-top: 12px;
    font-weight: 900;
    font-size: 18px;
}

.subtext-img {
    color: gray;
}

h2 {
 color: #1f2937;
 font-size: 36px;
 font-weight: 900;
 padding: 48px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 224px 128px 224px;
}

.img-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 48px;
}

.img-block {
    background-color: white;
    width: 170px;
    height: 170px;
    border-color: #3882f6;
    border-width: 4px;
    border-style: solid;
    border-radius: 16px;
}

.subtext-img {
    text-align: center;
    width: 170px;
    margin-top: 8px;
}

.section3 {
    background-color: #e5e7eb;
    padding: 128px 224px 128px 224px;
    display: flex;
    justify-content: center;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    width: 780px;
}

figcaption {
    font-size: 24px;
    color: #1f2937;
    font-weight: 800;
    width: 750px;
    text-align: right;
}

.section4 {
    padding: 112px 224px 112px 224px;
}

.cta-block {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px 128px 56px 128px;
}

h3 {
    color: #f9faf8;
    font-size: 24px;
}

.cta-button {
    color: #f9faf8;
    background-color: #3882f6;
    border-width: 2px;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 32px 8px 32px;
}