* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.logo {
    max-height: 60px;
    max-width: 60px;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 224px 0px 224px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

li {
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.section1 {
    display: flex;
    background-color: #1f2937;
    padding: 128px 224px 128px 224px;
    justify-content: space-between;
    max-height: 500px;
}

.birds-img {
    max-height: 220px;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 450px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

p {
    color: lightgray;
    font-size: 18px;
}

.signup1 {
    background-color: #3882f6;
    padding: 8px 0px 8px 0px;
    max-width: 125px;
    max-height: 50px;
    border-radius: 8px;
    border: 0px;
    margin-top: 12px;
    font-weight: 900;
    font-size: 18px;
}

.subtext-img {
    color: gray;
}

h2 {
 color: #1f2937;
 font-size: 36px;
 font-weight: 900;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}