body {
    font-family: 'Roboto';
}

.logo {
    max-height: 60px;
    max-width: 60px;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 192px 0px 192px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

li {
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
}